/* Maps section */
@media only screen and (max-width: 500px) {
    #maps {
        height: 200px !important;
    }
}

@media only screen and (max-width: 360px) {
    #maps {
        height: 170px !important;
    }
}



/* Calculation section */
@media only screen and (max-width: 368px) {
    .calcu-number {
        font-size: 2rem !important;
    }
}

@media only screen and (max-width: 350px) {
    .calcu-desc {
        font-size: 0.8rem !important;
    }
}



/* Newsletter section */
@media only screen and (max-width: 640px) {
    #title-newsletter {
        padding: 0 100px !important;
    }
}

@media only screen and (max-width: 430px) {
    #title-newsletter {
        padding: 0 50px !important;
    }
}

@media only screen and (max-width: 350px) {
    #title-newsletter {
        padding: 0 20px !important;
    }
    #newsletter-input {
        width: 250px !important;
    }
}